@using CarInsurance.ViewModels
@model List<InsureeVM>

@{
  ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<!--This foreach loop is no longer working! it says that we can't convert
  type Insuree to ...
  WAIT. I think it just needed to build. Should be good..?-->

<!--Why does formatting always get wonky in .cshtml files? My tabs only do 2 spaces...-->

<!--Using a little bit of Boostrap, we now create a table for our data-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Lastt Name</th>
      <th scope="col">Email Address</th>
      <th scope="col">Quote</th>
    </tr>
  </thead>
  <tbody>
    @foreach (InsureeVM insuree in Model)
    {
      <!--We put the row creation in our foreach loop so a new row is generated
        each time we encounter a new entry-->
      <tr>
        <td>
          @insuree.FirstName
        </td>
        <td>
          @insuree.LastName
        </td>
        <td>
          @insuree.EmailAddress
        </td>
        <td class="col">
          @insuree.Quote
        </td>
      </tr>
    }
  </tbody>
</table>

<!--Success! It's not the prettiest, but we now have a table displaying
  the four requested properties for the Admin page!-->


